body {
    font-family: "Roboto", sans-serif;
}
header {
    width: 100%;
}

nav {
    width: 100%;
    height: 69px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #ec362d;
    z-index: 2;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 37px;
    font-weight: 700;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Quizz {
    background: #fafafa;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;

    margin-top: 146px;
    width: 1051px;
    height: 181px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descrever {
    color: #b9b9b9;

    display: flex;
    align-items: center;
    text-align: center;

    width: 250px;
    height: 107px;

    font-weight: 400;
    font-size: 20px;
}

.criarQuizz {
    margin-bottom: 33px;
    width: 136px;
    height: 40px;

    font-size: 21px;
    background-color: #fafafa;
    color: #ec362d;
    border: 1px dashed #ec362d;
    border-radius: 50px;

    cursor: pointer;
}
